
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    scroll-behavior: smooth;
    background-color: white;
}
:root{
    --nav: #2b304f;
}
header{
    position: sticky;
    top:0;
    background-color: white;
}
.navbar{
    display: flex;
    height: 7vh;
    background: var(--nav);
    border-radius: 20vh 0vh 20vh 0vh;
}
.codingbeast{
    margin-left: 3vw;
    font-size: 5vh;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Alkatra', serif;
}
.nav-list{
    width: 100%;
    display: flex;
    align-items: center;
}
.items{
    text-decoration: none;
    padding: 1vh 2vw;
    color: white;
    font-size: 3vh;
}
.items:hover{
    text-decoration: underline white ;
}
li{
    list-style: none;
}
.lis{
    display: flex;
    margin-left: 17vw;
}

.allcont{
    display: flex;
}
.verline{
    background-color: rgb(148, 145, 145);
    width: 0.1vw;
    display: none;
}

.blcontainer{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-top: 7vh;
    margin-left: 6vw;
}
.introcont{
    display: flex;
    flex-direction: column;
}
.intelem{
    margin-bottom: 1vh;
}

.inttitle{
    font-family: 'Segoe UI';
    font-size: 4vh;
}
.intimg{
    width: 40vw;
    height: 50vh;
    margin-top: 1vh;
    /* border: 0.1vw solid black; */
}
.intart{
    margin-top: 2vh;
    font-size: 2.8vh;
    font-family: 'Merriweather', serif;
    line-height: 3.6vh;
}
.sttxt{
    font-family: sans-serif;
    font-size: 2.5vh;
}
.topictitle{
    font-family: 'Segoe UI';
    font-size: 4vh;
}

.copyButton{
    width: 3vw;
    margin-bottom: 1vh;
}
.copyButton:hover{
    font-weight: bold;
}
.codecont{
    background-color: #383838;
    padding: 2vh;
    width: 40vw;
}
#textToCopy{
    color: white; 
    font-family: sans-serif; 
    font-size: 2.5vh;
}


.foot{
    background-color: var(--nav);
    color: white;
    height: 4.2vh;
    text-align: center;
    font-size: 2.5vh;
    font-family: 'Alkatra', cursive;
    margin-top: 5vh;
}


/* Media Screen */

.burger{
    display: none;
    position: absolute;
    left: 90vw;
    top: 1.5vh;
}
.line{
    width: 6vw;
    height: 0.6vh;
    background-color: white;
    margin: 0.7vh
}
@media only screen and (max-width: 1200px){  

    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
        height: 26vh;
        transition: all 0.2s ease-out;
        border-radius: 0;
    }
    .lis{
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }
    .h-nav{
        height: 7vh; 
    }
    .v-class{
        opacity: 0;
    }
    .burger{
        display: block;
    }

    .allcont{
        display: flex; 
        flex-direction: column;
    }
    .verline{
        display: none;
    }

    .blcontainer{
        display: flex;
        flex-direction: column;
        width: 88vw;
        margin-top: 7vh;
        margin-left: 6vw;
    }
    .introcont{
        display: flex;
        flex-direction: column;
    }
    .intelem{
        margin-bottom: 1vh;
    }
    
    .inttitle{
        font-family: 'Segoe UI';
        font-size: 4vh;
    }
    .intimg{
        width: 88vw;
        height: 50vh;
        margin-top: 1vh;
    }
    .intart{
        margin-top: 2vh;
        font-size: 2.8vh;
        font-family: 'Merriweather', serif;
        line-height: 3.6vh;
    }
    .sttxt{
        font-family: sans-serif;
        font-size: 2.5vh;
    }
    .topictitle{
        font-family: 'Segoe UI';
        font-size: 4vh;
        line-height: 4.5vh;
    }

    .ytvid{
        width: 88vw;
        height: 24vh;

    }
    .copyButton{
        width: 15vw;
        margin-bottom: 1vh;
    }
    #textToCopy{
        font-size: 1.4vh;
    }
    .codecont{
        background-color: #383838;
        padding: 2vh;
        width: 40vw;
    }
    .codecont{
        width: 80vw;
    }

    .intimg{
        height: 40vh;
    }
    .howdimg{
        width: 87vw;
        height: 7vh;
    }

}
